@if(user$ | async; as user) {
<mat-toolbar color="primary"
  ><a routerLink="/home">Chat-app</a>
  <button mat-button [matMenuTriggerFor]="userMenu">
    <div class="container">
      <img
        width="30"
        height="30"
        class="profile-image-toolbar"
        [src]="user.photoURL ?? 'assets/images/image-placeholder.png'"
      />
      <div class="user-expand">
        {{ user.displayName }} <mat-icon>expand_more</mat-icon>
      </div>
    </div>
  </button>
</mat-toolbar>
}

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon> Profile
  </button>
  <button mat-menu-item (click)="onLogout()">
    <mat-icon>logout</mat-icon> Logout
  </button>
</mat-menu>
