<div class="form-container mat-elevation-z5">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Enter your email address</mat-label>
      <input matInput placeholder="Email address" formControlName="email" />
      @if (email?.invalid) {
      <mat-error>{{ getEmailErrorMessage() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      @if (password?.invalid) {
      <mat-error>{{ getPasswordErrorMessage() }}</mat-error>
      }
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="center margin-top">
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>

    <span class="center margin-top"
      >New to our platform?
      <a class="auth-link" routerLink="/auth/register"> Register!</a></span
    >
  </form>
</div>
